.lessons{
    position:absolute;
    left:150px;
    border:1px solid black;
    width:120px;
}
.studies{
    position:absolute;
    left:1px;
    border:1px solid black;
    width:120px;
}
.edit{
    position:absolute;
    right: 20px;
    background: #F7F5E5;
    border: 1px solid #B56B26;
}